<!-- Meta -->
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ pageTitle }}</title>
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">

<!-- Favicon -->
<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!-- Mobile Tags -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- CSS -->
<link rel="stylesheet" href="/{{ fingerprint.[bin/css.min.css] }}">
