variables:
  DOCKER_DRIVER: overlay
  CONTAINER_IMAGE: registry.sowlmate.de/group/project

cache:
  key: $CI_COMMIT_REF_NAME
  untracked: true
  paths:
    - node_modules/

stages:
  - build
  - package

build:
  stage: build
  image: cusspvz/node:7.8.0-development
  script:
    - npm install gulp -g --loglevel warn
    - npm install --loglevel warn
    - gulp clean
    - gulp build-deps
    - gulp --KRAKEN_API_KEY=$KRAKEN_API_KEY --KRAKEN_API_SECRET=$KRAKEN_API_SECRET images
    - gulp build
    - gulp test-pages

package:
  stage: package
  image: docker:1.11
  services:
    - docker:1.11-dind
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.sowlmate.de
    - docker build -t $CONTAINER_IMAGE:$CI_COMMIT_REF_NAME -f Dockerfile .
    - docker push $CONTAINER_IMAGE
  artifacts:
    name: $CI_COMMIT_REF_NAME
    paths:
    - dist/
    expire_in: 4 weeks
  only:
    - master
    - develop
